<div context-menu class="panel panel-default" data-target="myMenu"
     ng-class="{ 'highlight': highlight, 'expanded' : expanded }">
  <div class="panel-body">
    Right-click anywhere within this panel
  </div>
</div>
<div class="dropdown" id="myMenu">
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
    <li role="presentation">
      <a class="pointer" role="menuitem" tabindex="-1" ng-click="highlight = true">Select</a>
    </li>
    <li role="presentation">
      <a class="pointer" role="menuitem" tabindex="-1" ng-click="highlight = false">Deselect</a>
    </li>
    <li role="presentation">
      <a class="pointer" role="menuitem" tabindex="-1" ng-click="expanded = true">Expand</a>
    </li>
    <li role="presentation">
      <a class="pointer" role="menuitem" tabindex="-1" ng-click="expanded = false">Contract</a>
    </li>
  </ul>
</div>